nav {
    background-color: #4635B1;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.dropdown{
    position: absolute;
    background-color: lightblue;
    padding: 2rem;
   top: 60px;
   right: 410px;
}

.dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}